:root {
  --color-primario: #984FEA;
  --color-secundario: #41D3BE;
  --color-fondo: #363537;
  --color-fuente: #FAFAFA;
  --fuente-principal: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-fuente);
  font-family: var(--fuente-principal)
}

.navbar {
  padding: 1rem;
}

.navbar-expand {
  margin: 0;
  
}

.navbar .links {
  width: 3rem;
}

.links a {
  font-size: 2rem;
  color: var(--color-secundario);
  text-decoration: none;
  margin-left: 0.5rem;
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.descripcion {
  padding: 2rem 2.5rem 1rem;
  width: 50%;
  min-width: 400px;
}

.titulo-principal {
  color: var(--color-primario);
  font-size: 2rem;
}

.titulo-secundario {
  color: var(--color-primario);
  font-size: 1.5rem; /* para desktop */
}

.titulo-terciario {
  color: #41D3BE;
  font-style: italic;
  margin: 0.5rem 0;
}

.descripcion-texto {
  color: var(--color-secundario);
  font-size: 1.25rem;
  margin: 0;
}

.main {
  padding: 1rem;
}

#sobre-mi {
  margin: 1rem;
}

.sobre-mi-imagen {
  display: none;
  width: 400px;
}

.sobre-mi-imagen .imagen-perfil {
  width: 100%;
  border-radius: 10px;
}

.parrafo {
  margin: 1rem 0;
}

#proyectos {
  margin: 1rem;
}

#habilidades {
  margin: 1rem;
}

.grilla-habilidades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1.5rem;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.habilidad {
  color: var(--color-fuente);
  background-color: #BBBBBB;
}

.habilidad:hover {
  cursor: pointer;
}

.card-body {
  padding: 0;
  text-align: center;
}

.card-body i {
  margin: 1rem 0;
}

.card {
  max-width: 600px;
}

.card-proyecto {
  margin: 0 auto;
}

.card-proyecto .card-body {
  min-height: 350px;
}

.portada-proyecto {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #D2D2D2;
}

.boton-proyecto {
  background-color: var(--color-secundario);
  color: var(--color-fuente);
  border: none;
}

.boton-codigo {
  background-color: var(--color-primario);
  color: var(--color-fuente);
  border: none;
}

@media screen and (min-width: 767px) {
  .header {
    padding: 2rem;
  }

  .main {
    padding: 2rem;
  }
  
  .sobre-mi-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .sobre-mi-imagen {
    display: inline-block;
  }

  .sobre-mi-texto {
    display: inline-block;
    width: 60%;
  }

  .grilla-habilidades {
    grid-template-columns: repeat(3, 1fr);
    max-width: 500px;
  }

  a:hover {
    scale: 1.1;
    color: var(--color-fuente);
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 4rem;
  }

  .main {
    padding: 4rem;
  }

  .grilla-habilidades {
    grid-template-columns: repeat(4, 1fr);
    max-width: 500px;
  } 
}